<!DOCTYPE html>
<html class="homebody" lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Libraby of congress</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link th:href="@{'/css/stylesheet.css'}" rel="stylesheet"/>
</head>
<body>
<div th:replace="base::navlinks"></div>
<div class="row">
    <div class="col-sm-8"><!-- form section begins here -->
        <form th:action="@{/addlibrarybooks}" th:object="${addbooks}" th:method="post" class="form-group">

            <input type="hidden" th:field="*{id}"/>

            <span th:if="${#fields.hasErrors('booktitle')}" th:errors="*{booktitle}"></span>
            <label>Title: </label>
                <input type="text" th:field="*{booktitle}" />
            <br/>
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
            <label>Author: </label>
                <input type="text" th:field="*{author}" />
            <br/>
            <label>Year of Publication: </label>
                <input type="date" th:field="*{yearOfPublication}" />
            <br/>
            <label>ISBN: </label>
                <input type="text" th:field="*{isbnNumber}" />
            <br/>
            <label>Available: </label>
                <input type="checkbox" th:field="*{bookavailable}" value="yes"/>
            <br/>
                <input type="submit" value="submit" name="Add book"/>
        </form>
    </div> <!-- form section ends here -->

</div>

<div th:replace="base::footerlinks"></div>
</body>
</html>